<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taptap.cmcm.taptap"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <!-- Sort of permissions requires by Flurry -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:theme="@android:style/Theme.NoTitleBar"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        >

        <!-- Google Play Games data (required by google-play-services.jar)
        <meta-data android:name="com.google.android.gms.version" android:value="6587000" />
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="\ APP_ID" />-->

        <!-- Default Unity 3D activity -->
        <activity android:name="com.taptap.cmcm.taptap.Game"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
        </activity>

        <!-- get network state -->
        <receiver android:name="com.taptap.cmcm.taptap.GameBroadCastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- alarm to notify player -->
        <receiver android:name="com.taptap.cmcm.taptap.utils.BroadcastReceiverAlarm"
            android:exported="true">
            <intent-filter android:priority="1000" >
                <action android:name="com.taptap.cmcm.taptap.AlarmAction" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
